@media (max-width: 1024px){
    .header {
        padding-top: 40px;
    }
    .header__menu {
        position: absolute;
        top: 0;
        left: 105vw;
        width: 100%;
        height: 100vh;
        background-color: var(--color-secondary);
        z-index: 100;
        padding-top: 20vh;
        padding-left: 10%;
        margin-right: 0;
        transition: 1.2s ease-in-out;
    }
    .header__menu::before {
        content: "";
        display: block;
        width: 20%;
        height: 100%;
        background: url(../img/hex-pattern.svg) repeat;
        background-size: 50px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        z-index: -1;
    }
    .header__menu a {
        display: block;
        padding: 16px 0 0;
        font-size: 1.6em;
        overflow: hidden;
    }
    .header__menu a span {
        position: relative;
        top: 35px;
    }
    .animLinksMenu {
        animation: animLinksMenu .5s ease-in-out forwards;
    }
    .header__menu a:nth-child(1) .animLinksMenu{ animation-delay: 1s}
    .header__menu a:nth-child(2) .animLinksMenu{ animation-delay: 1.2s}
    .header__menu a:nth-child(3) .animLinksMenu{ animation-delay: 1.4s}
    .header__menu a:nth-child(4) .animLinksMenu{ animation-delay: 1.6s}
    .header__menu a:nth-child(5) .animLinksMenu{ animation-delay: 1.8s}
    .header__menu a:nth-child(6) .animLinksMenu{ animation-delay: 2s}

    @keyframes animLinksMenu {
        from {top:35px}
        to {top:0}
    }
    .menuMobile {
        left: 0;
    }
 
    .header__btnMenu {
        display: block;
    }
    .banner__foto {
        width: 80%;
        height: 100vh;
        margin-left: 20%;
    }
    .banner__title > span:nth-child(2),
    .banner__title > span:nth-child(3) {
        font-size: 3em;
        line-height: 1em;
    }
}
@media (max-width: 490px){
    .banner__foto {
        width: 90%;
        height: 90vh;
        margin-left: 10%;
    }
}
@media (max-width: 375px){
    .banner__foto {
        height: 80vh;
    }
}